flows.json
[{"id":"26df19d6.fabdb6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"26df19d6.fabdb6","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["62ab6269.7cd91c"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"26df19d6.fabdb6","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"62ab6269.7cd91c","type":"function","z":"26df19d6.fabdb6","name":"","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\nvar apikey=\"sofB4xprKxSSgreMsz3sXnsp4rv11KTXBjfFiEGqQnR8\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":280,"wires":[["9b4104e6.d2b738"]]},{"id":"9b4104e6.d2b738","type":"http request","z":"26df19d6.fabdb6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":300,"wires":[["8b144f99.1b963"]]},{"id":"8b144f99.1b963","type":"function","z":"26df19d6.fabdb6","name":"pre-prediction","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\", \"children\",\"smoker\",\"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":320,"wires":[["392eef52.b1a34"]]},{"id":"392eef52.b1a34","type":"http request","z":"26df19d6.fabdb6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/22511572-d148-4b0e-8e2a-6259d38a8a71/predictions?version=2020-10-09","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":200,"wires":[["f9b018d6.8ddea8","f2f2649a.0d0d98"]]},{"id":"f9b018d6.8ddea8","type":"function","z":"26df19d6.fabdb6","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":80,"wires":[["9f7eda15.f5a708","5d105372.f4c5dc"]]},{"id":"9f7eda15.f5a708","type":"debug","z":"26df19d6.fabdb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":120,"wires":[]},{"id":"887215fe.4792d8","type":"ui_form","z":"26df19d6.fabdb6","name":"","label":"","group":"188dc636.2c3f3a","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Sex","value":"sex","type":"text","required":true,"rows":null},{"label":"Body Mass Index","value":"bmi","type":"number","required":true,"rows":null},{"label":"Number of Children","value":"children","type":"number","required":true,"rows":null},{"label":"Are You Smoker?","value":"smoker","type":"text","required":true,"rows":null},{"label":"Region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":420,"wires":[["62ab6269.7cd91c"]]},{"id":"5d105372.f4c5dc","type":"ui_text","z":"26df19d6.fabdb6","group":"188dc636.2c3f3a","order":1,"width":"3","height":"2","name":"","label":"Insurance_Amount_Prediction","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":320,"wires":[],"info":"By using our application, customers see the radical difference their lifestyle choices make on their insurance charges."},{"id":"188dc636.2c3f3a","type":"ui_group","z":"","name":"Madhavi Health Insurance Premium Prediction","tab":"98ae2959.26e108","order":1,"disp":true,"width":"10","collapse":false},{"id":"98ae2959.26e108","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]